<nav class="navbar navbar-inverse navbar-fixed-top color">
    <div class="container">
        <div class="navbar-header">					
            <a href="#" class="navbar-brand"><i class="fa fa-users"> Admin Panel</i></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'Home' %}"><i class="fa fa-home"> Home</i></a></li>                       
            {% if user.is_authenticated %}
				<li><a href="{% url 'Profile'%}"><i class="fa fa-user"> Profile</i></a></li>
				<li><a href="{% url 'Logout'%}"><i class="fa fa-user"> Logout</i></a></li>
            {% else %}
                <li><a href="{% url 'Login' %}"><i class="fa fa-user"> Login</i></a></li>
                <li><a href="{% url 'Register' %}"><i class="fa fa-users"> Register</i></a></li>
            {% endif %}  
        </ul>
    </div>
</nav>